.top {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5% 8%;
}

.top-1 {
  margin-top: 2.5%;
  display: grid;
  grid-template-columns: 80% 20%;
  justify-content: space-between;
}

.top .top-1-1 {
  font-size: 10px;
  color: gray;
}

.top .top-1-2 {
  color: black;
  font-size: 0.8rem;
}

.top .top-1-3 {
  margin-top: 45%;
  height: 2vh;
  float: right;
}

.top-2 {
  margin-top: 10%;
  color: royalblue;
  font-size: 13px;
}
