.postingan {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5%;
}

.postingan-1 {
  display: grid;
  grid-template-columns: 10% 90%;
  justify-content: space-between;
}

.postingan-1 .postingan-1-1 {
  background-color: rgb(71, 100, 203);
  border-radius: 50%;
  height: 7vh;
  width: 7vh;
}

.postingan-1 .postingan-1-2 {
  border-bottom: 1px solid black;
}

.postingan-2 .postingan-2-1 {
  float: left;
}

.postingan-2,
.postingan-2-1 ul li {
  display: inline-block;
  margin-left: 3%;
  margin-top: 4%;
}

.link {
  height: 2vh;
  background-color: rgb(71, 100, 203);
}

.postingan-2-1 .li {
  margin-left: 10%;
}

.postingan-2,
.postingan-2-1 ul li img {
  height: 3vh;
}

.button {
  margin-top: 4.5%;
  float: right;
  background-color: rgb(71, 100, 203);
  border-radius: 10px;
  width: 8vw;
  height: 4vh;
  font-size: bold;
  color: white;
}
