.sideBarLeft {
  margin-top: 10%;
  display: flex;
  width: 11vw;
  background-repeat: no-repeat;
  height: 8vh;
  border-radius: 10px;
}

.sideBarLeft img {
  width: 4vw;
  height: 6.5vh;
  padding-top: 7%;
  padding-left: 10%;
}

.sideBarLeft h4 {
  padding: 8% 0 0 5%;
}

.sidebarHome {
  background-color: rgb(152, 152, 218);
}

.sidebar-1-1 {
  margin-top: 40%;
}

.sidebar-1-2 {
  margin-top: 5%;
}

.sidebar-1-2 .sidebar-1-2-2 {
  height: 5vh;
  padding-top: 6%;
  padding-left: 7%;
}
