.sidebar-1 {
  padding: 0 1% 1% 0;
  float: left;
  height: 150vh;
  width: 12vw;
  display: block;
}

.sideBarLeft {
  margin-top: 10%;
  display: flex;
  width: 11vw;
  background-repeat: no-repeat;
  height: 8vh;
  border-radius: 10px;
}

.sideBarLeft img {
  width: 4vw;
  height: 6.5vh;
  padding-top: 7%;
  padding-left: 10%;
}

.sideBarLeft h4 {
  padding: 8% 0 0 5%;
}

.sidebarHome {
  background-color: rgb(152, 152, 218);
}

.sidebar-1-1 {
  margin-top: 40%;
}

.sidebar-1-1 button {
  background-color: rgb(71, 100, 203);
  height: 5vh;
  width: 8vw;
  border-radius: 10px;
  border: none;
  margin-left: 12.5%;
  color: white;
  font-size: bold;
}

.sidebar-1-2 {
  margin-top: 20%;
  display: flex;
}

.sidebar-1-2 .sidebar-1-2-1 {
  background-color: rgb(71, 100, 203);
  border-radius: 50%;
  height: 7vh;
  width: 3.8vw;
}

.sidebar-1-2 {
  margin-top: 5%;
}

.sidebar-1-2 p {
  padding-top: 5%;
  padding-left: 2%;
}

.sidebar-1-2 .sidebar-1-2-2 {
  height: 5vh;
  padding-top: 6%;
  padding-left: 7%;
}
